body {
  /*padding: 50px;*/
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #222;
  color: rgba(255,255,255, .5);
}

h1 {
  font-family: "aw-conqueror-inline", sans-serif;
  font-size: 80px;
  font-weight: lighter;
  line-height: 1;
  letter-spacing: 0.53em;
  margin-top: 100px;
  color: rgba(255,255,255, .9);
}

h2 {
  font-family: "aw-conqueror-inline", sans-serif;
  letter-spacing: 0.2em;
  position: relative;
  margin-bottom: 1.5em;
  margin-top: 3em;
  color: rgba(255,255,255, .7);
}

h2:after {
  content: '';
  width: 50px;
  height: 3px;
  background-color: rgba(255,255,255, .3);
  position: absolute;
  bottom: .4em;
  transform: translateX(10px);
  font-weight: normal;
}

a {
  color: #00B7FF;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 30px;

}

.row {
  margin: 0 -15px;
  overflow: auto;
}

.col {
  width: 50%;
  float: left;
  padding: 0 15px;
  box-sizing: border-box;
}

label {
  display: block;
  color: rgba(255,255,255, .3);
}

button {
  background-color: transparent;
  border: 1px solid rgba(255,255,255, .1);
  color: rgba(255,255,255, .5);
  text-transform: uppercase;
  padding: 15px 30px;
  cursor: pointer;
  letter-spacing: .4em;
  transition: all .3s;
  outline: none;
}

button:hover {
  border-color: rgba(255,255,255, .4);
  color: rgba(255,255,255, .8);
}

#geo-btn {
  padding: 0 16px;
  margin-right: 6px;
  display: none;
}

#geo-btn.visible {
  display: inline-block;
}

.geo-icon {
  width: 15px;
  height: 15px;
  border: 2px solid currentColor;
  border-radius: 50%;
  position: relative;
}

.geo-icon:before, .geo-icon:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 2px;
  background-color: currentColor;
}

.geo-icon:before {
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.geo-icon:after {
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.geo-icon-mask {
  position: relative;
  background-color: #222;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  margin: 2px;
  z-index: 10;
}

input, .faux-input {
  transition: all .3s;
  background-color: transparent;
  color: white;
  padding: 18px 0;
  padding-top: 8px;
  border: none;
  border-bottom: 1px solid rgba(255,255,255, .2);
  width: 100%;
  font-size: 24px;
  margin-bottom: 2em;
}

input:focus {
  border-bottom-color: rgba(255,255,255, .8);
  outline: none;
}

.form-flex {
  display: flex;
}

.form-message {
  flex-grow: 2;
}
.form-message div {
  padding: 14px 0;
  display: none;
}
.form-message div.visible {
  display: block;
}

hr {
  border: none;
  border-bottom: 1px solid rgba(255,255,255, .2);
  margin: 3em 0;
}

.compass-flex {
  display: flex;
}

.bearing-contain {
  padding-right: 15px;
  box-sizing: border-box;
}

.bearing-contain, .compass-contain {
  width: 50%;
}

.compass {
  border: 2px solid rgba(255,255,255, .2);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 10px;
  margin: 0px auto;
}

.needle {
  height: 100px;
  width: 12px;
  margin: auto;
  position: relative;
} 

.needle:before, .needle:after{
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  border: 6px solid transparent;
}

.needle:before {
  border-bottom: 50px solid rgba(255,255,255, .7);
  border-top-width: 0px;
}

.needle:after {
  border-top: 50px solid rgba(255,255,255, .2);
  border-bottom-width: 0px;
  top: 50%;
}
