doctype html
html
  head
    title Polaris
    link(rel='stylesheet', href='/styles/main.css')
    script(src='https://use.typekit.net/cmb4wle.js')
    script try{Typekit.load();}catch(e){};
  body
    .container
      block content
      
    script(src='/javascripts/main.js')
