doctype html
html

  head
    title Polaris

    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=2')
    meta(name='theme-color' content='#222')

    link(rel='stylesheet', href='/styles/main.css')

    script(src='https://use.typekit.net/cmb4wle.js')
    script try{Typekit.load();}catch(e){};

  body
    .container
      block content
      
    script(src='/javascripts/main.js')
